# Core ML & NLP
scikit-learn
pandas
numpy
spacy
nltk
joblib
tqdm
imbalanced-learn

# API (FastAPI)
fastapi
uvicorn
pydantic
requests

# Visualization
matplotlib
seaborn

# Notebook Support
jupyter

tensorflow